/* .nav {
    padding: 12px 8px;

    .nav-container li {
      cursor: pointer;
      overflow: hidden;
      flex: 1 1 160px;
      min-width: 120px;
      padding: var(--padding);
      position: relative;
      filter: brightness(1.2);

      &::after {
        background-color: var(--color-white);
        content: "";
        height: var(--highlight-height);
        width: var(--highlight-width);
        opacity: var(--highlight-opacity);
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(var(--translate-x-start), var(--translate-y))
          rotate(var(--rotation));
        z-index: -10;
        transition: transform 750ms cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:hover::after {
        transform: translate(var(--translate-x-end), var(--translate-y))
          rotate(var(--rotation));
        transition: transform var(--transition-hover-speed)
          var(--transition-easing);
      }

      div {
        align-items: center;
      }

      a {
        text-decoration: none;
        color: var(--color-white);
        font-size: 1.2rem;
      }

      &.active a {
        text-decoration: underline;
        font-style: italic;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
        font-weight: bold;
        transition: all 0.3s ease-in-out;
      }
    }
  } */

  .timer-nav {
    padding: 12px 8px;

    .timer-nav__item{
      cursor: pointer;
      overflow: hidden;
      flex: 1 1 160px;
      min-width: 120px;
      padding: var(--padding);
      position: relative;
      filter: brightness(1.2);

      &::after {
        background-color: var(--color-white);
        content: "";
        height: var(--highlight-height);
        width: var(--highlight-width);
        opacity: var(--highlight-opacity);
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(var(--translate-x-start), var(--translate-y))
          rotate(var(--rotation));
        z-index: -10;
        transition: transform 750ms cubic-bezier(0.19, 1, 0.22, 1);
      }

      &:hover::after {
        transform: translate(var(--translate-x-end), var(--translate-y))
          rotate(var(--rotation));
        transition: transform var(--transition-hover-speed)
          var(--transition-easing);
      }

      .timer-nav__link {
        text-decoration: none;
        color: var(--color-white);
        font-size: 1.2rem;
      }

      &.timer-nav__item--active .timer-nav__link {
        text-decoration: underline;
        font-style: italic;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
        font-weight: bold;
        transition: all 0.3s ease-in-out;
      }
    }
  }