body{
    padding: 0;
    margin: 0;
}
.nav{
    background-color: rgb(214, 175, 175);
    .nav-list{
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 10px;
        .nav-item{
            list-style: none;
            a{
                display: inline-block;
                text-decoration: none;
                transition: transform 0.3s ease;
                

                &:hover{
                    transform: scale(1.15);
                
                }
            }
        }
    }
}

#content{
    text-align: justify;

    div{
        overflow: hidden;
        padding: 8px;
    }
    .firstTab{
        background-color: rgb(216, 141, 141);
    }

    .secondTab{
        background-color: rgb(202, 216, 141);
    }
    .thirdTab{
        background-color: rgb(141, 211, 216);
    }
    .thirdTab{
        background-color: rgb(141, 182, 216);
    }
    .fourthTab{
        background-color: rgb(216, 141, 206);
    }
}
